
<article class="post">
  <div class="title">
     <h1 class="text-start border-bottom">  {{user.username}}  </h1>
       <a> {{title}} </a>
    <img src="{{post_url}}"  width="500" height="400">
  
</div>
  <div class="meta">
    <a href="/post/{{id}}">{{vote_count}} <img src="/images/greenHeart.png" width="35" height="35"></a>
    
    <a href="/post/{{id}}">{{comments.length}} <img src="/images/commentIcon.png" width="35" height="35"></a>
  </div>
</article>
