<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>
<form class="comment-form">
  <div>
    <textarea name="comment-body" placeholder="Leave a comment here"></textarea>
  </div>

  <div>
    <a href="">
      <input type="image" src="/images/comment.png" width="100" height="40" name="comment" class="submit" id="">
    </a>
  </div>
</form>
<style type="text/css" media="screen">
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
  }

  /*Hero-section*/
  .hero-head {
    text-align: center;
    background-color: rgb(107, 188, 181);
  }

  .navbar-bg {
    background-color: rgb(107, 188, 181);
  }

  .hero-body-background {
    text-align: center;
    background-color: white;
  }

  .btn-primary {
    background-color: rgb(107, 188, 181);
    color: #d34959;
  }

  .hero-login {
    background-color: rgb(107, 188, 181);
    text-align: center;
  }

  <style type="text/css"media="screen">* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /*Footer Section*/
  footer {
    width: 100%;
    padding: 40px 35px;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 1%);
  }

  footer img {
    width: 5%;
    margin: 10px 0;
  }

  footer h3 {
    font-size: 30px;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: center;
  }
</style>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>